Package: bcm5974-4.2-dkms
Version: 1.0.0
Essential: no
Section: kernel
Priority: optional
Architecture: all
Depends: dkms, build-essential, linux-headers-generic-lts-vivid
Maintainer: Naftuli Tzvi Kay <rfkrocktk@gmail.com>
Installed-Size: 40
Description: Backported BCM-5974 trackpad driver from kernel 4.2.
 This package uses DKMS to dynamically compile and install the bcm5974 kernel driver, which has been backported from kernel 4.2 in order to support newer MacBook Pro trackpads.
